* {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}

.app-body {
  display: flex;
  justify-content: space-evenly;
}

.app-left {
  flex: 0.3;
  margin-right: 20px;
}

.app-right {
  flex: 0.7;
}

.app-header > h1 {
  color: red;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
}

.app-dropdown {
  border-radius: 6px;
}

.MuiFormControl-root {
  background-color: aliceblue;
}

.app-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 695px) { 
  .app-body {
    flex-direction: column;
  }

  .app-left {
    margin-bottom: 20px;
  }
}

@media (max-width: 456px) {
  .app-stats {
    flex-direction: column;
  }

  .MuiPaper-rounded {
    margin-bottom: 20px;
    width: 100%;
  }
}
