.infoBox {
    display: flex;
    flex: 1;
    cursor: pointer;
}

.infoBox:not(:last-child) {
    margin-right: 10px;
}

.infoBox-selected {
    border-bottom: 8px solid #3ab4e0;
}

.infoBox-green {
    color:#298a41 !important;
}

.infoBox-cases {
    color: #cc1034;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}


  
.infoBox-total {
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
}
  